* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html,body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
}

a {
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(167, 165, 165); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}